.main-picture {
  position: relative;
  width: fit-content;
  padding: 0;
}

.main-picture__image {
  max-width: 100%;
  max-height: 60vh;
}

.main-picture__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-picture__trick-name {
  color: white;
  padding: 1rem;
}

.main-picture__edit-overlay {
  position: absolute;
  display: flex;
  width: fit-content;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-picture__edit-overlay :is(a, button),
.main-picture__edit-overlay a:visited {
  color: hsl(0, 0%, 85%);
}

.main-picture__edit-overlay :is(a, button):hover {
  color: white;
}

.thumbnail:hover {
  cursor: pointer;
  border-bottom-width: 4px !important;
  border-bottom-color: var(--bs-primary);
}
