.main-media {
  position: relative;
  width: fit-content;
  padding: 0;
}

.main-media__image {
  max-width: 100%;
  max-height: 60vh;
}

.main-media__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-media__trick-name {
  color: white;
  padding: 1rem;
}

.main-media__edit-overlay {
  position: absolute;
  display: flex;
  width: fit-content;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-media__edit-overlay :is(a, button),
.main-media__edit-overlay a:visited {
  color: hsl(0, 0%, 85%);
}

.main-media__edit-overlay :is(a, button):hover {
  color: white;
}
