<div id="media-overlay" class="media-overlay media-overlay--hidden">
  <div class="media-overlay__top-left"></div>
  <div class="media-overlay__top"></div>
  <div class="media-overlay__close" >
    <button type="button" class="btn" data-action="trick-media#close" title="Close">&times;</button>
  </div>
  <div class="media-overlay__prev" >
    <button type="button" class="btn" data-action="trick-media#prev" title="Previous">&lt;</button>
  </div>
  <div class="media-overlay__content"></div>
  <div class="media-overlay__next" >
    <button type="button" class="btn" data-action="trick-media#next" title="Next">&gt;</button>
  </div>
  <div class="media-overlay__bottom-left"></div>
  <div class="media-overlay__caption"></div>
  <div class="media-overlay__bottom-right"></div>
</div>
