<div class="card mb-3">
  <img
    src="{{ asset('images/fallback-trick-image-640.jpg') }}"
    class="rounded-top"
    alt="Trick name"
  >
  
  <div class="card-body text-muted">
    <h5 class="card-title">Trick name</h5>
  </div>
</div>
