{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
  <div class="container">
    <h1>Reset password</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

      {{ form_row(form.newPassword) }}

      <button type="submit" class="btn btn-primary">Reset password</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
