{% extends "base.html.twig" %}

{% block title %}Forbidden{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center my-5">You do not have access to this page.</h1>

    <div class="text-center my-3">Maybe you need to <a href="{{ path('user.index') }}">verify your account</a> before accessing this resource.</div>

    <div class="text-center my-3"><a href="{{ path('homepage.index') }}">Return to the homepage.</a></div>
  </div>
{% endblock %}