{% extends "base.html.twig" %}

{% block title %}Error{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center my-5">Oops, something went wrong!</h1>

    <div class="text-center my-3">It is probably something on our side. Things should get back to normal in a few moments.</div>
    
    <div class="text-center">Status code: {{ status_code }}</div>
    <div class="text-center">Status text: {{ status_text }}</div>

    <div class="text-center my-3"><a href="{{ path('homepage.index') }}">Return to the homepage.</a></div>
  </div>
{% endblock %}
