{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/homepage/tricks-grid.css') }}">
{% endblock %}

{% block body %}
  <header class="container col-xxl-8 px-4 py-5 position-relative mb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Tricks</h1>
      </div>
    </div>
  </header>

  <main>
    <div class="grid mx-3">
      {% for trick in tricks %}
        {{ include("trick/_trick-card.html.twig") }}
      {% endfor %}
    </div>
  </main>
{% endblock %}
