{% extends "email/base.html.twig" %}

{% block header %}
    Hi {{ username }}! Please confirm your email!
{% endblock %}

{% block body %}    
    <p>
        Please confirm your email address by clicking the following link: <br><br>
        <a href="{{ verificationURL }}">Confirm my Email</a>.
        {# This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
    </p>

    <p>
        Cheers!
    </p>
{% endblock %}
